/*XFCE Panel*/
.xfce4-panel button, #sn-button, #indicator-button {
    color: #fff;
    -gtk-icon-shadow: 1px 1px #343434;
}

.xfce4-panel label {
    color: #fff;
}

.xfce4-panel.background {
background-image: linear-gradient(to bottom, mix(#749ecf, transparent, 0.25), mix(#4f7fcf, transparent, 0.25) 50%, mix(#3261bb, transparent, 0.25) 51%, mix(#3261bb, transparent, 0.25) 97%, mix(#333a53, transparent, 0.25)); background-color: mix(#000000, transparent, 0.8);
    border: none;
    text-shadow: 1px 1px #343434;
box-shadow: inset 0 1px mix(#a7bcdc, transparent, 0.125)
}


.xfce4-panel#XfcePanelWindow {
  border-top-right-radius: 15px; 
  border-top-right-radius: 0;
  color: #DDD; /*separator color and workspace preview outline color*/
}

/* in-panel progress bars */
.xfce4-panel progressbar {
	min-width: 4px;
}
