#whiskermenu-button {
    background-image: url("../assets/start_orb_default_58px.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 58px;

    min-width: 58px;
    min-height: 58px;

    padding: 0;
    margin: 0 18px 0 11px;

    border: none;
    box-shadow: none;
}

#whiskermenu-button:hover {
    background-image: url("../assets/start_orb_hover_58px.png");
    transition: 200ms;
}

#whiskermenu-button:checked {
    background-image: url("../assets/start_orb_open_58px.png"); 
}

/*
#whiskermenu-button:hover image {
    box-shadow: 0px 0px 9px 0px #99f7ff;
    border-radius: 36px;
}

#whiskermenu-button:checked image, #whiskermenu-button:checked.hover image {
    box-shadow: 0px 0px 9px 0px #70ced6;
    border-radius: 36px;
}*/
